<form>
        <div class="row">

            <div class="col-8 p-5">
                <span>
                    <button type="button" id="partButton" class="btn btn-primary">load</button>
                    <div class="row">
                        <button type="button" id="filterButton" class="col-md-2 m-1 btn btn-primary" value="filter">Filter</button>
                        <input classs="m-1" id="searchInput" placeholder="search...">
                        <p id="foundMessage" class="invisible font-weight-bold text-primary align-middle col-md-5"> </p>
                    </div>
                </span>
            </div>
        </div>
        <hr>
        <div id="content" class="row">

        </div>
    </form>