<div class=" col-8 p-5">
    <div class="row ">
        
        <img src="/Images/Self1.PNG" class="img-fluid col-md-2">
        
        <div class="col-md-8" style="height:auto;">
            <p class="text-success">Edna Kahanowitz </p>
            <p class="text-success">052-764-9230 </p>
            <p class="text-success">ednakaha@gmail.com</p>
        </div>


    </div>
</div>
<div>
<h5 class="text-success"> An application that accesses information and reports from the virtual world</h5>
</div>